$padding-xxs: 1px;
$padding-xs: 2px;
$padding-s: 4px;
$padding-m: 8px;
$padding-l: 16px;
$padding-xl: 24px;
$padding-xxl: 48px;

$margin-s: 4px;
$margin-m: 8px;
$margin-l: 16px;
$margin-xl: 24px;

$font-size-s: 12px;
$font-size-m: 16px;
$font-size-l: 20px;

$border-radius-s: 4px;
$border-radius-m: 8px;
$border-radius-l: 16px